main {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 10%;
}

body {
    font-family:
    Futura, Helvetica, Arial, sans-serif;
    background-image: url(/images/mock_background.png); 
    background-repeat: no-repeat;                   
    background-size: cover;              
    background-position: center;                  
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;                                  
    margin: 0;
    padding: 0;          
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
    height: 100vh;
}

.menu {
    width: 100%;
    height: 100%;
    justify-self: start;
    grid-column: 6 / span 12;
    grid-row: 1 / span 4;
    object-fit: contain;
    
}

.worker {
    width: 100%;
    height: 100%;
    grid-column: 2 / span 4;
    grid-row: 5 / span 7;
    justify-self: end;
    object-fit: contain;
}

.heater{
    width: 100%;
    height: 100%;
    grid-column: 8 / span 11;
    grid-row: 5 / span 7;
    justify-self: end;
    object-fit: contain;
}

 
#sandwhich {
    position: absolute;
}

#sandwhich:hover {
    background-color: pink;
}
