body {
    font-family:
    Futura, Helvetica, Arial, sans-serif;
    background-image: url(/images/mock_background.png); 
    background-repeat: no-repeat;                   
    background-size: cover;              
    background-position: center;                  
    background-attachment: fixed;                                  
    margin: 0;
    padding: 0;          
}

/*.troll:link, .troll:visited {
    color: blue;
    background-color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.troll:hover, .troll:active{
    background-color:red;
}*/

.sangwhich {
    position: absolute;
  top: 43%;
  left: 70%;
  width: 100%;
}

.heater {
  position: absolute;
transform: scale(1.3,1.3) translate(750px, 250px);
/*  top: 40%;
  bottom: 70%;
  left: 50%;
  width: 100%;*/
}

.working {
    position:absolute;
    transform: scale(1.3, 1.3);
    top: 35%;
    left: 13%
}
